@media (min-width: 0px) {
    .jss329 {
        width: 80%;
        margin: 96px auto auto;
    }
}

@media (min-width: 768px) {
    .jss329 {
        width: 70%;
        margin: 96px auto auto;
    }
}

@media (min-width: 0px) {
    .jss332 {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .jss332 {
        font-size: 24px;
    }
}

@media (min-width: 768px) {
    .jss334 {
        width: 100%;
    }
}

@media (min-width: 0px) {
    .jss334 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .jss337 {
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .jss270 {
        width: 70%;
        margin-top: 0px;
    }
}

@media (min-width: 768px) {
    .jss270 {
        width: 70%;
        margin: 96px auto auto;
    }
}

@media (min-width: 0px) {
    .jss270 {
        width: 80%;
        margin: 96px auto auto;
    }
}

@media (min-width: 0px) {
    .jss270 {
        width: 80%;
        margin: 96px auto auto;
    }
}
